body {
  background: rgb(3,3,3);
  text-align: center;
  font-family: "Inconsolata";
}

.msg {
  display: none;
  opacity: 0.9;
  background-color: rgb(0,120,0);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,20,0,0.2);
  width: 340px;
  height: 150px;
  position:fixed;
  top:20%;
  left:50%;
  margin-left: -170px;

  z-index: 2;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
}

button {
  background-color: #ffffff;
  color: #000000;
  border-radius:5px;
  border-spacing:0px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  box-shadow: 0;
  border:0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Arial";
}

.functions {
  width: 400px;

  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard {
  width: 150px;
  height: 50px;
  background-color: #006600;
  border-radius: 10px;
  padding: 1px 1px 1px 1px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: linear-gradient(to bottom, #ffffff, #dbdbdb);}

h1 {
  color: rgb(225,225,225);
  font-size: 30px;
  font-family: "Inconsolata";
  padding-top: 10px;
  text-decoration: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 10px;
}

h2 {
  color: rgb(255,255,255);
  font-size: 14pt;
}

.board {
  background-color: rgb(225,225,225);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.cell {
  background-color: rgba(240,240,240,0.75);
  width: 90px;
  height: 90px;
  float: left;

  margin: 3px;
  border: 2px solid rgba(0,0,0,0.1);
}

p {
  font-size: 28px;
  padding-top: 5px;
  color: black;
  font-weight: bold;
  font-family: "Inconsolata";
}